<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Page not Found</title>
  </head>
  <body>
    {{>header}}
    <img src="../../public/images/404.png" alt="" srcset="">
    {{errorMessage}}
    {{>footer}}
  </body>
</html>